@page "/account/sign-up"

<PageTitle>Register - Reviews of everything</PageTitle>

<div class="center-block">
    <MudPaper Class="mx-3 px-5 py-3 text-center" Style="display: flex; flex-direction: column; align-items: center; width: 350px;">
        <MudText Class="mt-2" Style="font-size: 21px;">CREATE AN ACCOUNT</MudText>
        <div class="mt-5">
            <MudButton StartIcon="@Icons.Custom.Brands.Google" Color="Color.Error" Variant="Variant.Filled" FullWidth="true">Continue with Google</MudButton>
            <div class="mt-2"></div>
            <MudButton StartIcon="@Icons.Custom.Brands.Facebook" Color="Color.Primary" Variant="Variant.Filled" FullWidth="true">Continue with Facebook</MudButton>
        </div>
        <div class="mt-2" style="display: flex; align-items: center;">
            <span style="display: inline-block; height: 3px; width: 50px; border-top: solid 1px #E3E3E3;"></span>
            <MudText Class="mx-5" Style="font-size: 12px;">or</MudText>
            <span style="display: inline-block; height: 3px; width: 50px; border-top: solid 1px #E3E3E3;"></span>
        </div>
        <div class="mt-3 w-100">
            <MudTextField FullWidth="true" T="string" Margin="Margin.Dense" Variant="Variant.Outlined" Placeholder="Username"></MudTextField>
            <span class="my-2"></span>
            <MudTextField FullWidth="true" T="string" Margin="Margin.Dense" Variant="Variant.Outlined" Placeholder="Email" InputType="InputType.Email"></MudTextField>
            <span class="my-2"></span>
            <MudTextField FullWidth="true" T="string" Margin="Margin.Dense" Variant="Variant.Outlined" Placeholder="Password" InputType="InputType.Password"></MudTextField>
            <span class="my-2"></span>
            <MudTextField FullWidth="true" T="string" Margin="Margin.Dense" Variant="Variant.Outlined" Placeholder="Verify Password" InputType="InputType.Password"></MudTextField>
        </div>

        <MudButton Variant="Variant.Filled" Class="my-5" FullWidth="true" Color="Color.Dark">Create Account</MudButton>
    </MudPaper>
</div>