@using System.Security.Claims
@using MudBlazor.Services;

@if (User != null)
{
    <style>
        @@media(max-width: 1000px) {
            .mud-icon-size-medium {
                font-size: 1.25rem;
            }

            .like-text {
                font-size: 14px;
            }
        }
    </style>

    <div class="d-flex" style="align-items: center;">
        <MudCheckBox Dense="true" ReadOnly="!User.Identity!.IsAuthenticated" T="bool" Checked="_userLike" CheckedChanged="SetUserLikeAsync" Color="Color.Secondary" UnCheckedColor="Color.Default" CheckedIcon="@Icons.Material.Filled.Favorite" UncheckedIcon="@Icons.Material.Filled.FavoriteBorder" />
        <MudText Class="like-text">@LikeUsers.Count()</MudText>
    </div>
}