@page "/"
@using ReviewEverything.Client.Components.ReviewsView
@using ReviewEverything.Client.Resources

<PageTitle>@SharedLocalizer["Все Обзоры"]</PageTitle>

<div class="container">
    <ReviewsView />
</div>

@code {
    private IStringLocalizer<ResourcesShared> SharedLocalizer { get; set; } = ResourcesShared.CreateStringLocalizer();
}