@page "/"
@using ReviewEverything.Client.Components.ReviewsView
@inject IStringLocalizer<ReviewsView> Localizer

<PageTitle>@Localizer["All Reviews"]</PageTitle>

<div class="container">
    <ReviewsView />
</div>