@page "/user/{id}"

<div class="container mt-5">
    <MudPaper Class="px-4 py-5">
        <div class="row">
            <div class="col-sm-12 col-md-3" style="display: flex; align-items: center; flex-direction: column;">
                @if (UserResponse != null)
                {
                    <MudAvatar Style="height: 200px; width: 200px; font-size: 10rem;" Variant="Variant.Outlined" Color="Color.Inherit">@UserResponse.UserName[0]</MudAvatar>
                    <MudText Class="mt-2" Style="word-break: break-all; font-size: 2rem; font-weight: 600">@UserResponse.UserName</MudText>
                }
                else
                {
                    <MudSkeleton Width="200px" Height="200px" SkeletonType="SkeletonType.Circle" />
                    <MudSkeleton Class="mt-2" Width="180px" Height="40px" />
                }
            </div>
            <div class="col-sm-12 col-md-9">
                @if (UserResponse != null)
                {
                    <MudText Style="word-break: break-all; font-size: 3rem; font-weight: 900">@UserResponse.UserName</MudText>
                }
                else
                {
                    <MudSkeleton Width="300px" Height="80px" />
                }
            </div>
        </div>
    </MudPaper>
    
    <ViewReviews UserId="Id" Editor="_editor" />
</div>