@page "/user/{id}"
@attribute [Authorize]

<div class="container mt-5">
    @if (UserResponse != null)
    {
        <MudText>@UserResponse.UserName</MudText>
    }
    else
    {
        <MudSkeleton SkeletonType="SkeletonType.Rectangle" Animation="Animation.Wave" Width="100%" Height="110px" />
    }
</div>