@page "/Admin/Category"
@attribute [Authorize("Admin")]

<div class="container mt-5">
    @if (Categories != null)
    {
        <MudTable Items="Categories" Dense="true">
            <ToolBarContent>
                <MudText Typo="Typo.h6">Категории</MudText>
                <MudSpacer />
                <MudButton Variant="Variant.Filled" OnClick="(async() => await CreateOrEditCategoryAsync())">Добавить</MudButton>
            </ToolBarContent>
            <HeaderContent>
                <MudTh>Название</MudTh>
                <MudTh></MudTh>
            </HeaderContent>
            <RowTemplate>
                <MudTd DataLabel="Название">@context.Title</MudTd>
                <MudTd>
                    <div style="display: flex; justify-content: flex-end;">
                        <MudIconButton Size="Size.Small" Icon="@Icons.Filled.Edit" Color="Color.Info" OnClick="(async() => await CreateOrEditCategoryAsync(context.Id, context.Title))" />
                        <MudIconButton Size="Size.Small" Icon="@Icons.Filled.Delete" Color="Color.Error" OnClick="(async() => await DeleteCategoryAsync(context.Id))" />
                    </div>
                </MudTd>
            </RowTemplate>
            <PagerContent>
                <MudTablePager RowsPerPageString="" />
            </PagerContent>
        </MudTable>
    }
    else
    {
        <MudOverlay Visible="true" DarkBackground="true" >
            <MudProgressCircular Color="Color.Primary" Size="Size.Large" Indeterminate="true" />
        </MudOverlay>
    }
</div>

@{
#pragma warning disable CS8625
}
<MudMessageBox @ref="MessageBox" Title="Создать категорию">
    <MessageContent>
        <MudTextField DebounceInterval="500" Style="width: 320px;" @bind-Value="CategoryRequest.Title" Margin="Margin.Dense" Variant="Variant.Outlined" Placeholder="Название категории" />
    </MessageContent>
    <YesButton>
        <MudButton Class="mx-2" Variant="Variant.Filled" Color="Color.Primary">Сохранить</MudButton>
    </YesButton>
    <NoButton>
        <MudButton Class="mx-2" Variant="Variant.Filled" Color="Color.Secondary">Отмена</MudButton>
    </NoButton>
</MudMessageBox>
@{
#pragma warning restore CS8625
}